.header {
  min-height: 70px;
  background-color: #e2e8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  color: #000;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}

.logo {
  display: flex;
  gap: 8px;
}

.search > form {
  display: flex;
  gap: 4px;
}

.field {
  padding: 0 8px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 4px;
  height: 30px;
}

.searchBtn {
  border: none;
  padding: 0 12px;
  border-radius: 4px;
  background-color: #0f172a;
  color: white;
  cursor: pointer;
}
