@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1280px;
  padding: 16px 32px;
}
